@{
    ViewData["Title"] = "Registro de Clientes";
}

<!-- Header del Formulario -->
<div class="bg-[#55692d] text-white p-6 text-center rounded-t-lg">
    <h1 class="text-3xl font-bold">¡Bienvenido al Registro de Clientes!</h1>
    <p class="text-lg mt-2">Completa el formulario para crear tu cuenta y acceder a todos nuestros servicios.</p>
</div>

<!-- Formulario -->
<form asp-action="ProccesRegister" asp-controller="Account" class="space-y-6 p-6 max-w-3xl mx-auto bg-white rounded-lg shadow-lg mt-4">
    <!-- Full Name y DNI -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="form-control">
            <label for="fullName" class="label text-gray-700">Nombre Completo</label>
            <input type="text" id="fullName" name="fullName" class="input input-bordered w-full border-gray-400 text-gray-700 placeholder-gray-500 focus:ring-2 focus:ring-[#55692d]" placeholder="Juan Carlos Perez">
        </div>

        <div class="form-control">
            <label for="dni" class="label text-gray-700">Cédula de Ciudadanía</label>
            <input type="text" id="dni" name="dni" class="input input-bordered w-full border-gray-400 text-gray-700 placeholder-gray-500 focus:ring-2 focus:ring-[#55692d]" placeholder="Ingrese su DNI">
        </div>
    </div>

    <!-- Email y Estado de Activación y Contraseña -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="form-control">
            <label for="email" class="label text-gray-700">Correo Electrónico</label>
            <input type="email" id="email" name="email" class="input input-bordered w-full border-gray-400 text-gray-700 placeholder-gray-500 focus:ring-2 focus:ring-[#55692d]" placeholder="Juan@Pepito.Perez">
        </div>

        <div class="form-control">
            <label for="password" class="label text-gray-700">Correo Electrónico</label>
            <input type="password" id="password" name="password" class="input input-bordered w-full border-gray-400 text-gray-700 placeholder-gray-500 focus:ring-2 focus:ring-[#55692d]" placeholder="xxxx">
        </div>
    </div>

    <!-- Municipio -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="form-control">
            <label for="idMunicipio" class="label text-gray-700">Municipio</label>
            <select id="idMunicipio" name="idMunicipio" class="select select-bordered w-full border-gray-400 text-gray-700 focus:ring-2 focus:ring-[#55692d]">
                <option value="">Seleccione Municipio</option>
                <option value="1">Municipio 1</option>
                <option value="2">Municipio 2</option>
                <option value="3">Municipio 3</option>
            </select>
        </div>
    </div>

    <!-- Botón de Enviar -->
    <div class="form-control">
        <button type="submit" class="btn w-full text-white" style="background-color: #55692d;">Registrarse</button>
    </div>
</form>
