<div class="p-6 bg-gray-100 text-gray-800 font-sans">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        <div class="flex gap-4">
            <img src="https://megustaelcine.com/wp-content/uploads/2025/01/Interestelar-6-1024x665.jpg" alt="Pecadores"
                class="min-w-20 w-auto h-auto object-cover rounded shadow-lg" />
            <div class="">
                <h2 class="text-2xl font-semibold text-green-900">Sinners</h2>
                <p class="text-sm"><strong>Título en español:</strong> Pecadores</p>
                <p class="text-sm"><strong>Estreno:</strong> 17-Abr-2025</p>
                <p class="text-sm">Drama, Thriller, Terror</p>
            </div>
        </div>

        <div class="w-full">
            <video controls class="w-full rounded shadow-lg">
                <source src="https://youtu.be/sG29yJH-5wc" type="video/mp4" />
                Tu navegador no soporta video.
            </video>
        </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mt-6">
        <div>
            <h3 class="text-xl font-semibold text-green-900 border-b pb-1 mb-2">SINOPSIS</h3>
            <p class="text-sm">
                Tratando de descubrir sus problemáticas vidas detrás, los hermanos gemelos regresan a su ciudad natal
                para comenzar de nuevo, solo para descubrir que un mal aún mayor los espera para darles la bienvenida
                nuevamente.
            </p>
        </div>

        <div>
            <h3 class="text-xl font-semibold text-green-900 border-b pb-1 mb-2">REPARTO</h3>
            <ul class="list-disc list-inside text-sm">
                <li>Hailee Steinfeld</li>
                <li>Jack O'Connell</li>
                <li>Michael B. Jordan</li>
            </ul>
        </div>

        <div>
            <h3 class="text-xl font-semibold text-green-900 border-b pb-1 mb-2">INFORMACIÓN</h3>
            <p class="text-sm"><strong>Clasificación:</strong> 15 Años</p>
            <p class="text-sm"><strong>Duración:</strong> 140 Minutos</p>
            <p class="text-sm"><strong>Género:</strong> Thriller</p>
            <p class="text-sm"><strong>Estreno:</strong> 17/abril/2025</p>
            <p class="text-sm"><strong>País:</strong> Estados Unidos</p>
            <p class="text-sm"><strong>Director:</strong> Ryan Coogler</p>
        </div>
    </div>
</div>
<main class="bg-gray-100 min-h-screen p-8">
    <div class="text-center my-12">
        <h2 class="text-4xl font-bold text-[#55692d]">FUNCIONES</h2>
    </div>

    <div class="collapse collapse-arrow bg-base-100 border border-base-300 rounded-box shadow-md">
        <input type="checkbox" />
        <div class="collapse-title text-xl font-semibold">
            Niquía
        </div>
        <div class="collapse-content">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <!-- Película 1 -->
                <div class="flex flex-col items-center bg-gray-50 p-4 rounded-lg shadow-sm">
                    <div class="text-lg font-bold text-primary mb-2">6:30 PM</div>
                    <div class="text-center">
                        <p class="font-semibold text-lg  text-gray-500"">The Batman</p>
                        <p class=" text-sm text-gray-500">Sala 1</p>
                        <p class="text-sm text-gray-400">Español</p>
                    </div>
                </div>

                <!-- Película 2 -->
                <div class="flex flex-col items-center bg-gray-50 p-4 rounded-lg shadow-sm">
                    <div class="text-lg font-bold text-primary mb-2">6:30 PM</div>
                    <div class="text-center">
                        <p class="font-semibold text-lg  text-gray-500"">Spiderman: No Way Home</p>
                        <p class=" text-sm text-gray-500">Sala 2</p>
                        <p class="text-sm text-gray-400">Inglés</p>
                        <form asp-action="Index" asp-controller="SelectingPositions" method="get">
                            <button type="submit" class="btn btn-success">Comprar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>