<div class="bg-red-500 w-full flex flex-col">
    <div class="bg-white h-20 w-full flex justify-evenly items-center">
        <button
            class="rounded-xl w-35 text-white bg-[#808000] p-2 hover:bg-[#545402] cursor-pointer">CONFITERIA</button>
        <button class="rounded-xl w-35 text-white bg-[#808000] p-2">RESTAURANTE</button>
    </div>

    <div class="bg-gray-300">
        <div class="p-5 py-10 grid grid-cols-4 gap-3 justify-items-center align-items-center">
            <div
                class="bg-pink-600 w-70 h-55 overflow-hidden rounded-lg shadow-lg hover:brightness-115 shadow-5xl cursor-pointer">
                <img src="https://t3.ftcdn.net/jpg/03/11/31/90/360_F_311319032_bkm0yBsT9IEia5Jzg8CC34wA90mAX5ny.jpg"
                    alt="" class="object-cover w-full h-[80%]" />
                <div class="bg-[#808000] flex items-center justify-center w-full h-[20%]">
                    <h1 class="text-center text-white font-bold text-2xl">BEBIDAS</h1>
                </div>
            </div>

            <div class="bg-pink-600 w-70 h-55 overflow-hidden rounded-lg shadow-lg">
                <img src="https://http2.mlstatic.com/D_NQ_NP_943807-MCO54927173257_042023-O.webp" alt=""
                    class="object-cover w-full h-[80%]" />
                <div class="bg-[#808000] flex items-center justify-center w-full h-[20%]">
                    <h1 class="text-center text-white font-bold text-2xl">CRISPETAS</h1>
                </div>
            </div>

            <div class="bg-pink-600 w-70 h-55 overflow-hidden rounded-lg shadow-lg">
                <img src="https://media.istockphoto.com/id/157479378/es/foto/perrito-caliente-con-salsa-de-tomate.jpg?s=612x612&w=0&k=20&c=vFBk6qju-KTBl1V94Zfc-oIaXsWRy6yyje7OeAFlvRg="
                    alt="" class="object-cover w-full h-[80%]" />
                <div class="bg-[#808000] flex items-center justify-center w-full h-[20%]">
                    <h1 class="text-center text-white font-bold text-2xl">COMIDAS</h1>
                </div>
            </div>

            <div class="bg-pink-600 w-70 h-55 overflow-hidden rounded-lg shadow-lg">
                <img src="/CineMaxCOL_Web/wwwroot/img/combo1.jpg" alt="" class="object-cover w-full h-[80%]" />
                <div class="bg-[#808000] flex items-center justify-center w-full h-[20%]">
                    <h1 class="text-center text-white font-bold text-2xl">COMBOS</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-red-500 w-full flex flex-col">
    <div class="bg-white w-full h-20 flex items-center">
        <h1 class="text-[#808000] ml-5 font-bold">CMC PROMOS</h1>
    </div>

    <div class="bg-gray-300">
        <div class="h-76 overflow-x-auto px-5 py-3 grid grid-flow-col justify-items-center align-items-center gap-5">
            <div class="w-70 h-65 overflow-hidden rounded-lg shadow-lg group relative bg-white">
                <img src="https://copservir.vtexassets.com/arquivos/ids/1558144/CHOCOLATE-JET-LECHE-N-2_F.png?v=638786896888930000"
                    alt="" class="object-cover w-full h-full group-hover:brightness-40 transition duration-300" />
                <div
                    class="absolute inset-0 flex flex-col justify-center items-center opacity-0 hover:opacity-100 transition duration-300 text-black">
                    <p class="text-md mt-1 text-white line-through">$2.500</p>
                    <p class="text-md mt-1 text-white">$2.500</p>
                    <h2 class="text-lg font-bold text-white">Chocolate Jet</h2>
                </div>
            </div>

            <div class="w-70 h-65 overflow-hidden rounded-lg shadow-lg group relative bg-white">
                <img src="https://dulceria.co/wp-content/uploads/2019/08/jumbo-grande-600x600.jpg" alt=""
                    class="object-cover w-full h-full group-hover:brightness-40 transition duration-300" />
                <div
                    class="absolute inset-0 flex flex-col justify-center items-center opacity-0 hover:opacity-100 transition duration-300 text-black">
                    <p class="text-md mt-1 text-white line-through">$2.500</p>
                    <p class="text-md mt-1 text-white">$2.500</p>
                    <h2 class="text-lg font-bold text-white">Chocolate Jet</h2>
                </div>
            </div>

            <div class="bg-white w-70 h-65 overflow-hidden rounded-lg shadow-lg group relative bg-white">
                <img src="/CineMaxCOL_Web/wwwroot/img/ice.jpg" alt=""
                    class="object-cover object-cover w-full h-full group-hover:brightness-40 transition duration-300" />
                <div
                    class="absolute inset-0 flex flex-col justify-center items-center opacity-0 hover:opacity-100 transition duration-300 text-black">
                    <p class="text-md mt-1 text-white line-through">$2.500</p>
                    <p class="text-md mt-1 text-white">$2.500</p>
                    <h2 class="text-lg font-bold text-white">Chocolate Jet</h2>
                </div>
            </div>

            <div class="w-70 h-65 overflow-hidden rounded-lg shadow-lg group relative bg-white">
                <img src="https://www.carsnack.com/peru/1557-home_default/bandeja-para-nachos-.jpg" alt=""
                    class="object-cover object-cover w-full h-full group-hover:brightness-40 transition duration-300" />
                <div
                    class="absolute inset-0 flex flex-col justify-center items-center opacity-0 hover:opacity-100 transition duration-300 text-black">
                    <p class="text-md mt-1 text-white line-through">$2.500</p>
                    <p class="text-md mt-1 text-white">$2.500</p>
                    <h2 class="text-lg font-bold text-white">Chocolate Jet</h2>
                </div>
            </div>

            <div class="w-70 h-65 overflow-hidden rounded-lg shadow-lg group relative bg-white">
                <img src="https://colanta.vtexassets.com/arquivos/ids/158720/469X.png?v=638567564057130000" alt=""
                    class="object-cover object-cover w-full h-full group-hover:brightness-40 transition duration-300" />
                <div
                    class="absolute inset-0 flex flex-col justify-center items-center opacity-0 hover:opacity-100 transition duration-300 text-black">
                    <p class="text-md mt-1 text-white line-through">$2.500</p>
                    <p class="text-md mt-1 text-white">$2.500</p>
                    <h2 class="text-lg font-bold text-white">Chocolate Jet</h2>
                </div>
            </div>

            <div class="w-70 h-65 overflow-hidden rounded-lg shadow-lg group relative bg-white">
                <img src="https://pituy.co/wp-content/uploads/2020/06/126-COMBO-PERRO-HAWAINO-PAPA-FRANCESA-Y-GASEOSA-.jpg"
                    alt=""
                    class="object-cover object-cover w-full h-full group-hover:brightness-40 transition duration-300" />
                <div
                    class="absolute inset-0 flex flex-col justify-center items-center opacity-0 hover:opacity-100 transition duration-300 text-black">
                    <p class="text-md mt-1 text-white line-through">$2.500</p>
                    <p class="text-md mt-1 text-white">$2.500</p>
                    <h2 class="text-lg font-bold text-white">Chocolate Jet</h2>
                </div>
            </div>

            <div class="w-70 h-65 overflow-hidden rounded-lg shadow-lg group relative bg-white">
                <img src="https://dyvservicios.cl/400-medium_default/doypack-cinema-180gr.jpg" alt=""
                    class="object-fit object-cover w-full h-full group-hover:brightness-40 transition duration-300" />
                <div
                    class="absolute inset-0 flex flex-col justify-center items-center opacity-0 hover:opacity-100 transition duration-300 text-black">
                    <p class="text-md mt-1 text-white line-through">$2.500</p>
                    <p class="text-md mt-1 text-white">$2.500</p>
                    <h2 class="text-lg font-bold text-white">Chocolate Jet</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="h-20 bg-white w-full">
</div>