@model CineMaxCOL_Entity.Tarjeta

<div class="container mx-auto p-4 space-y-4 bg-white rounded-xl">
    <div class="flex justify-center">
        <img src="https://res.cloudinary.com/dkykp6eya/image/upload/v1746027655/1Logo1-removebg-preview_dbmsqo.png" width="300px" />
    </div>

    <form asp-action="RegistersPay" asp-controller="PaymentdGetAway" method="post">
        <div class="collapse collapse-arrow border border-[#55692d] bg-white rounded-xl">
            <input type="radio" name="pago" checked />
            <div class="collapse-title text-[#55692d] font-semibold flex justify-between items-center">
                Tarjeta Crédito y Débito
                <img src="/ruta-icono-tarjeta.svg" alt="tarjeta" class="w-6 h-6" />
            </div>
            <div class="collapse-content space-y-3">
                <input asp-for="CorreoElectronico" placeholder="Correo Electrónico" class="input input-bordered w-full border-black" />
                <span asp-validation-for="CorreoElectronico" class="text-red-600 text-sm"></span>

                <input asp-for="NombreTitular" placeholder="Nombre del titular" class="input input-bordered w-full border-black" />
                <span asp-validation-for="NombreTitular" class="text-red-600 text-sm"></span>

                <input asp-for="NumeroTarjeta" placeholder="Número de la tarjeta" class="input input-bordered w-full border-black" />
                <span asp-validation-for="NumeroTarjeta" class="text-red-600 text-sm"></span>

                <input asp-for="FechaExpiracion" type="date" placeholder="Fecha de expiración" class="input input-bordered w-full border-black" />
                <span asp-validation-for="FechaExpiracion" class="text-red-600 text-sm"></span>

                <input asp-for="TipoTarjeta" placeholder="Tipo de tarjeta (crédito o débito)" class="input input-bordered w-full border-black" />
                <span asp-validation-for="TipoTarjeta" class="text-red-600 text-sm"></span>

                <button type="submit" class="btn bg-[#55692d] text-white hover:bg-[#6a8035] w-full">Continuar</button>
            </div>
        </div>
    </form>

    <section>
        <div class="text-center">
            <strong>
                Toda su compra sera registrada tanto en su correo brindado como en nuestros sistemas internos de CineMaxCOL.
            </strong>
        </div>
    </section>
</div>

