<div class="breadcrumbs text-sm px-6">
  <ul>
    <li><a href="@Url.Action("Index","Home")">Home</a></li>
    <li>Historial de Compras</li>
  </ul>
</div>

<div class="flex justify-center items-start h-screen">
    
    <div class="relative top-48 w-full">

        <div class="w-full flex justify-center gap-x-18 relative bottom-26">
            <button class="btn h-16 w-38 text-xl border-none bg-[#808000] font-bold">PROXIMO</button>
            <h1 class="h-full text-5xl">|</h1>
            <button class="btn h-16 w-38 text-xl border-2 border-black text-[#808000]">HISTORIAL</button>
        </div>

        <div class="p-4 flex justify-center">
            <table class="table-fixed w-[80%] text-black">
                <thead>
                <tr class="border-b-4 border-[#808000]">
                    <th class="w-1/8">Fecha</th>
                    <th class="w-1/8">Película</th>
                    <th class="w-1/8">Sala</th>
                    <th class="w-1/8">Asientos</th>
                    <th class="w-1/8">Función</th>
                    <th class="w-1/8">Cantidad</th>
                    <th class="w-1/8">Precio</th>
                    <th class="w-1/8">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center border-b-2 border-[#808000] h-12">
                    <td>23/04/2025</td>
                    <td>Karate Kid Legends</td>
                    <td>05</td>
                    <td>F3,F4</td>
                    <td>6:00 PM</td>
                    <td>2</td>
                    <td>$14.000</td>
                    <td>$28.000</td>
                </tr>
                <tr class="text-center border-b-2 border-[#808000] h-12">
                    <td>23/04/2025</td>
                    <td>Karate Kid Legends</td>
                    <td>05</td>
                    <td>F3,F4</td>
                    <td>6:00 PM</td>
                    <td>2</td>
                    <td>$14.000</td>
                    <td>$28.000</td>
                </tr>
                </tbody>
            </table>
            </div>


    </div>

</div>