@model CineMaxCOL_Entity.Funcion

    <div class="flex flex-col items-center p-4 max-w-6xl mx-auto">
        <h2 class="text-2xl font-bold mb-6 text-center">Selecciona tu silla</h2>

        <div class="grid grid-cols-4 sm:grid-cols-6 md:grid-cols-8 lg:grid-cols-10 gap-3 w-full">
            {
                var estadoClase = silla.Ocupada ? "bg-red-500 cursor-not-allowed" : "bg-green-500 hover:bg-green-600 cursor-pointer";
                <div class="text-white font-semibold p-4 rounded-lg text-center shadow transition duration-200 ease-in-out ">
                </div>
        </div>
    </div>

    <div class="w-full h-6 bg-gray-400 mt-8 text-center font-semibold flex items-center justify-center">
        Pantalla
    </div>

    <!-- Leyenda -->
    <div class="flex space-x-6 mt-4">
        <div class="flex items-center space-x-2">
            <div class="w-4 h-4 bg-gray-300 rounded-full"></div>
            <span>Disponible</span>
        </div>
        <div class="flex items-center space-x-2">
            <div class="w-4 h-4 bg-black rounded-full"></div>
            <span>Seleccionado</span>
        </div>
        <div class="flex items-center space-x-2">
            <div class="w-4 h-4 bg-teal-300 rounded-full"></div>
            <span>Ocupado</span>
        </div>
    </div>
    <div>
        <div class="overflow-x-auto">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre de la Pelicula</th>
                    <th>Asientos seleccionados</th>
                    <th>Precio</th>
                    <th>Total a pagar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>F12</td>
                    <td>@Model.Precio</td>
                    <td>@Model.Precio</td>
                    <td>@Model.IdPeliculaNavigation.Titulo</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mt-20">
        <button class="btn btn-success w-full">Pagar</button>
        <button class="btn btn-error w-full">Abandonar</button>
    </div>
</div>
</div>
